.nav-bar {
    overflow: hidden;
    background-color: #333333;
    position: fixed;
    top: 0;
    width: 100%;
}

#home {
    margin-right: 50px;
}

.nav-bar a {
    font-size: 14px;
    float: right;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 27px 25px;
    text-decoration: none;
}

.nav-bar a:hover {
    border-bottom: 2px solid white;
    padding-bottom: 25px;
}

.nav-bar img {
    height: 45px;
    margin-left: 50px;
    margin-top: 14px;
    margin-bottom: 10px;
}

body {
    font-family: 'Quicksand';
    margin: 0;
    background-image: linear-gradient(to left, rgba(0,0,0,0), rgba(0,0,0,0.7)), url('photos/phone.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100%;
}

.title {
    margin-top: 73px;
    text-align: center;
    padding: 45px;
    color: white;
    font-size: 48px;
    background-color: rgba(255, 255, 255, 0.3);
}

.center {
    color: white;
    font-size: 45px;
    margin: 0;
    position: relative;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }

.section-1 {
    padding: 100px 60% 100px 15%;
    color: white;
}

.section-2 {
    padding-right: 15%;
    padding-left: 15%;
    background-color: white;
    /*height: 620px;*/
    height: auto;
}

.section-2 img {
    height: 620px;
    float: right;
}

.section-2 h1 {
    padding-top: 100px;
}

.section-2 p {
    margin-right: 60%;
}

.section-2 button {
    text-align: center;
    border: none;
    padding: 20px;
    margin-top: 40px;
    margin-bottom: 100px;
}

.section-2 button:hover {
  background-color: #80A6B7;
  transition-duration: 0.3s;
  cursor: pointer;
}

.section-3 {
  padding-left: 15%;
  padding-right: 15%;
  background-color: #333333;
  color: white;
}

.section-3 h2 {
  margin: 0;
  padding: 30px 0px;
  padding-bottom: 0px
}

.section-1 button {
    text-align: center;
    border: none;
    padding: 20px;
    margin-top: 40px;
}

.section-1 button:hover {
  background-color: #80A6B7;
  transition-duration: 0.3s;
  cursor: pointer;
}

.input {
  color: white;
  padding: 10px;
  margin: 5px;
  border: none;
  background-color: rgba(255,255,255,0.3);
}

::placeholder {
    color: rgba(255,255,255,0.7);
}

.form-button {
    text-align: center;
    border: none;
    padding: 20px;
    margin: 20px 0px;
}

.form-button:hover {
    background-color: #80A6B7;
    transition-duration: 0.3s;
    cursor: pointer;
}

.form-popup {
    color: rgb(196, 14, 26);
    margin-left: 20px;
    transition: 10ms;
    visibility: hidden;
}

#postcode {
    margin-bottom: 15px;
}

#sign-up-button {
  float: right;
  margin: 50px;
  position: fixed;
  bottom: 0;
  right: 0;
  visibility: hidden;
  background-color: yellow;
}

#sign-up-button:hover {
  cursor: pointer;
}
